<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎使用</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/font.css">
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/xadmin.css">
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/bootstrap.css">
    <link rel="stylesheet" href="{{__HOST__}}/admin/css/basic.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{__HOST__}}/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{__HOST__}}/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite>
        </a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="{{__HOST__}}/admin/M100" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form action="{{__HOST__}}/admin/M1000/M1000-search" method="post" class="layui-form layui-col-md12 x-so">
            <div class="layui-input-inline">
                <select id="pro_name" class="layui-input" name="pro_name" lay-filter="aihao">
                    <option value="">分类查找</option>
                    {{each classify}}
                    <option value={{$value.pro_name}}>{{$value.pro_name}}</option>
                    {{/each}}
                </select>
            </div>
            <!--<input type="text" name="classify"  placeholder="请输入用户名" autocomplete="off" class="layui-input">-->
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <span class="x-right" style="line-height:40px">共有数据：{{@listNum}} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>学号</th>
            <th>姓名</th>
            <th>班级</th>
            <th>比赛编号</th>
            <th>比赛分组</th>
            <th>比赛赛道</th>
            <th>比赛成绩</th>
            <th>比赛记录</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{each list}}
        <tr id="layerDemo">
            <td>{{$value.stu_id}}</td>
            <td>{{$value.name}}</td>
            <td>{{$value.class}}</td>
            <td>{{$value.pro_id}}</td>
            <td>{{$value.pro_name}}</td>
            <td>{{$value.pro_num}}</td>
            <td>{{$value.user_score}}</td>
            <td>{{$value.user_record}}</td>
            <td class="td-manage">
                <a title="编辑"
                   onclick="x_admin_show('编辑','{{__HOST__}}/admin/M1000/M1000-edit?id={{@$value._id}}',600,400)"
                   href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    <div id="page" class="pagination"></div>
</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });
</script>
<script src="{{__HOST__}}/admin/basic.js"></script>
<script src="{{__HOST__}}/admin/jqPaginator.js"></script>
<script>
    $('#page').jqPaginator({
        totalPages: {
    {
        totalPages
    }
    },
    visiblePages: 5,
        currentPage
    :
    {
        {
            page
        }
    }
    ,
    onPageChange: function (num, type) {
        console.log(num, type);
        if (type == 'change') {
            location.href = "{{__HOST__}}/admin/code?page=" + num;
        }
    }
    })
    ;
</script>
</body>

</html>